.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    /* width: 200px;
    margin: 0 auto; */
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-success {
    margin-top: 16px;
}
